.subHead {
  display: flex;
  padding-top: 135px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #7b82ab;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */